/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }
body {

}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.header_area{
    padding-bottom: 20px;
}

.top_menu ul li {
    display: inline;
    list-style: outside none none;
}
.top_menu ul {
    display: inline-block;
    margin-left: 75px;
}
.top_menu ul li a {
    color: #000;
    font-family: caption;
    font-size: 15px;
    opacity: 0.4;
    padding: 0 16px;
    text-decoration: none;
}



.top_menu ul li a:hover {
    color: red;
    opacity: 0.7;
}

.call1 {
    color: red;
    display: inline;
    font-family: caption;
    font-size: 20px;
    margin-left: 243px;
    margin-right: 25px;
}
.call {
    color: red;
    display: inline;
    font-family: caption;
    font-size: 16px;
}

.top_menu {
    padding: 12px 0;
    margin-top: 10px;
}
.logo_img {
    width: 122px;
    position: absolute;
}

.h_name {
    color: #3399ff;
    font-family: caption;
    font-size: 15px;
    left: 30px;
    position: absolute;
    top: 77px;
}
.navbar-inverse {
    background-color: #FE5722;
    border: none;
}

.main_menu {
    background: #fe5722 none repeat scroll 0 0;
}

.nav.nav.navbar-nav a {
    color: #fff;
    font-family: caption;
    font-size: 18px;
}
.dropdown-menu a {
    background: #fe5722 none repeat scroll 0 0;
    border-bottom: 1px solid;
}

.dropdown-menu a:hover {
    background: #000 none repeat scroll 0 0;
    border-bottom: 1px solid;
}


.img_slider {
    max-height: 446px;
    width: 100%;
}

.caption {
    color: #fff;
    font-family: caption;
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px red;
}
